@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Oswald&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.2;
}
h1 {
  font-family: 'Oswald', sans-serif;
}

h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  padding: 1.15rem;
}

.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10vw;
  margin-right: 10vw;
}

.header__content img {
  width: 64px;
  height: 32px;
  padding-left: 0.425rem;
}
.header__content i {
  font-size: 1.3rem;
  padding-right: 0.425rem;
  padding-top: 0.425rem;
}

.container {
  display: flex;
  flex-direction: column;
}

.yoga__studio {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: center;
  align-items: center;
  background: url('./image/bg.jpg');
}

.yoga__studio__desc {
  width: 30vw;
  height: 50vh;
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: white;
  margin: 1rem;
}

.yoga__studio__desc h1 {
  font-size: 4.5rem;
  font-weight: 100;
}

.stripe {
  width: 100%;
  background: white;
  height: 0.475rem;
  display: block;
  margin: 1.725rem 0;
}
.yoga__studio__desc p {
  font-size: 1.125rem;
  margin-top: 1.725rem;
  line-height: 1.4;
}

.yoga__studio__image__comtainer {
  width: 400px;
  height: 55vh;
  margin-top: 15vh;
}

.yoga__studio__image__comtainer img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1200px) {
  .yoga__studio__desc {
    width: 40vw;
    padding-top: 1rem;
    padding-bottom: 3rem;
  }
  .yoga__studio__desc h1 {
    font-size: 3rem;
    font-weight: 100;
  }
  .yoga__studio__desc p {
    font-size: 1rem;
    margin-top: 1.725rem;
  }
}
@media screen and (max-width: 680px) {
  .yoga__studio {
    flex-direction: column;
    height: fit-content;
  }
  .yoga__studio__desc {
    width: 80vw;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    height: auto;
  }
  .yoga__studio__image__comtainer {
    width: 70vw;
    margin-top: 0;
  }
}

.btn {
  width: 12.5rem;
  height: 3.5rem;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 1.5rem;
}
.learn__more {
  border: 2px solid white;
  border-radius: 2rem;
  background-color: transparent;
  color: white;
}

.utilities {
  background-color: #292d33;
}

.utilities__list {
  width: 70vw;
  margin: auto;
  box-sizing: content-box;
  position: relative;
  top: -4rem;
  display: grid;
  grid-template-columns: repeat(4, 16vw);
  grid-auto-rows: 15rem;
  grid-gap: 2rem;
}

.utilities__item {
  background-color: white;
  border-radius: 1rem;
}
@media screen and (max-width: 1200px) {
  .utilities__list {
    grid-template-columns: repeat(2, 34vw);
  }
}
@media screen and (max-width: 680px) {
  .utilities__list {
    grid-template-columns: repeat(1, 66vw);
  }
}
.utilities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.utilities__item__container {
  margin-top: 3rem;
}
.utilities__item__container__svg {
  width: 5rem;
  height: 5rem;
  background: #9b56fc;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.utilities__item__container object {
  background-color: #9b56fc;
}

.utilities__item__container h2 {
  margin-top: 1rem;
  text-align: center;
  font-weight: normal;
}

.aboutus {
  background-color: #ee0073;
}

.aboutus__container {
  width: 60vw;
  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(3, 18vw);
  grid-auto-rows: auto;
  grid-gap: 4rem;
}
.aboutus__item {
  color: white;
}
.aboutus__item p {
  margin-bottom: 1rem;
  line-height: 1.6;
}
.aboutus__item h3 {
  font-size: 42px;
}
.aboutus__item h4 {
  font-size: 32px;
}
.aboutus__item h5 {
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1200px) {
  .aboutus__container {
    width: 66vw;
    grid-gap: 3rem;
  }
  .aboutus__item h3 {
    font-size: 38px;
  }
  .aboutus__item h4 {
    font-size: 28px;
  }
  .aboutus__item h5 {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 780px) {
  .aboutus__container {
    width: 70vw;
    grid-template-columns: repeat(1, 66vw);
    grid-gap: 1.5rem;
  }
  .aboutus__item h3 {
    font-size: 1.8rem;
  }
  .aboutus__item h4 {
    font-size: 1.125rem;
  }
}
.moto {
  background-color: #292d33;
}

.moto__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80vw;
}

.moto__image {
  margin-top: 4rem;
  margin-bottom: 4rem;
  width: 750px;
  height: 499px;
  background: url('./image/moto_image.jpg');
  background-size: cover;
}
.moto__text {
  width: 555px;
  height: 359px;
  background-color: #e43b76;
  color: white;
  padding: 4rem;
  position: relative;
  left: -100px;
}
.moto__text span {
  display: block;
  width: 6rem;
  height: 0.25rem;
  background-color: white;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 1080px) {
  .moto__container {
    flex-direction: column;
    width: 90vw;
    margin-bottom: -7rem;
  }
  .moto__image {
    width: 90vw;
    height: 50vh;
  }
  .moto__text {
    width: 68vw;
    height: auto;
    margin: auto;
    left: 0;
    top: -10rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 580px) {
  .moto__container {
    flex-direction: column;
    width: 95vw;
  }
  .moto__image {
    width: 95vw;
    height: 45vh;
  }
  .moto__text {
    width: 78vw;
    height: auto;
    margin: auto;
    left: 0;
    top: -10rem;
    padding: 2rem;
  }
}

.personal__training {
  display: flex;
  flex-direction: row;
  background-color: pink;
  justify-content: center;
  align-items: center;
  background: url('./image/background-2.jpg');
  padding-left: 5rem;
  padding-top: 3rem;
}

.personal__training__desc {
  width: 45vw;
  color: white;
  padding-left: 12vw;
}

.personal__training__desc h1 {
  font-size: 4rem;
  font-weight: 100;
}

.personal__training__desc p {
  font-size: 1.125rem;
  margin-top: 1.725rem;
  line-height: 1.4;
}

.personal__training__image__comtainer {
  width: 50vw;
  margin-top: auto;
  height: 100%;
}

.personal__training__image__comtainer img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1300px) {
  .personal__training__desc {
    padding-top: 1rem;
    padding-bottom: 3rem;
    padding-left: 2vw;
  }
  .personal__training__desc h1 {
    font-size: 3rem;
    font-weight: 100;
  }
  .personal__training__desc p {
    font-size: 1rem;
    margin-top: 1.725rem;
  }
  .personal__training__image__comtainer {
    width: 55vw;
  }
}
@media screen and (max-width: 780px) {
  .personal__training {
    flex-direction: column;
    padding-left: 0;
  }
  .personal__training__desc {
    width: 80vw;
    padding-top: 2rem;
    padding-bottom: 0.5rem;
    height: auto;
  }
  .personal__training__image__comtainer {
    width: 100vw;
    margin-top: 0;
  }
}

.startnow {
  background: #292c33;
}

.startnow__header {
  margin: auto;
  width: 80vw;
  text-align: center;
  color: white;
  padding: 4rem 0;
}
.startnow__header h1 {
  padding: 1rem;
  font-size: 2.15rem;
}
.startnow__header p {
  margin: auto;
  width: 40rem;
  line-height: 1.4;
  font-size: 1.15rem;
}

.startnow__container {
  width: 66vw;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-sizing: content-box;
  display: grid;
  grid-template-columns: repeat(3, 22vw);
  grid-auto-rows: 60vh;
  grid-gap: 0;
}

.startnow__image {
  background-size: auto;
  background-repeat: no-repeat;
}

.startnow__image_img1 {
  background: url('./image/sport__image__1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.startnow__image_img2 {
  background: url('./image/sport__image__2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.startnow__sports {
  padding: 2rem;
  background: #ee0073;
  color: white;
}

.startnow__element h3 {
  margin: 1.5rem 0;
  font-size: 24px;
}

.startnow__element li {
  padding: 0.25rem;
  margin-left: 1.25rem;
  font-size: 16px;
}

@media screen and (max-width: 1200px) {
  .startnow__container {
    width: 80vw;
    grid-template-columns: repeat(2, 40vw);
  }
  .startnow__sports {
    overflow: overlay;
  }
  .startnow__image_img2 {
    width: 80vw;
  }
}
@media screen and (max-width: 780px) {
  .startnow__header p {
    width: 80vw;
  }

  .startnow__container {
    width: 90vw;
    grid-template-columns: repeat(1, 90vw);
  }
  .startnow__image_img2 {
    width: 90vw;
    height: 60vh;
  }
}

.functional__training {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: auto;
  background: url('./image/background-2.jpg');
}

.functional__training__image {
  width: 30vw;
  height: 64vh;
  background: url('./image/functional__training.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.functional__training__details {
  padding: 2rem;
  width: 30vw;
  height: auto;
  color: white;
}
.functional__training__details h1 {
  font-size: 4.5rem;
  font-weight: 100;
}
.functional__training__details p {
  font-size: 1.125rem;
  margin-top: 1.725rem;
  line-height: 1.4;
}

@media screen and (max-width: 1200px) {
  .functional__training__image {
    width: 45vw;
  }

  .functional__training__details {
    width: 40vw;
  }
  .functional__training__details h1 {
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 825px) {
  .functional__training {
    flex-direction: column-reverse;
    height: fit-content;
  }
  .functional__training__image {
    width: 80vw;
  }

  .functional__training__details {
    width: 90vw;
  }
  .functional__training__details h1 {
    font-size: 3rem;
  }
  .functional__training__details p {
    font-size: 1rem;
    margin-top: 1.245rem;
  }
}
@media screen and (max-width: 580px) {
  .functional__training__details {
    width: 96vw;
  }
  .functional__training__image {
    width: 100vw;
    background-size: cover;
  }
  .functional__training__details h1 {
    font-size: 2.5rem;
  }
}
